@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.wordmark {
    position: absolute;
    top: 6px;
    right: 1%;
    width: 120px;
}

.top-button,
.button-pink {
    background-color: #F27581;
    color: white;
    border-radius: 100px;
    height: 100px; 
    padding: 10px 15px;
    width: 5em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    transition: all 250ms linear;
}

.navlink {
    transition: all 500ms linear;
}

.navlink:hover {
    background-color: #FBCEBD;
    color: white;
}

.top-button:hover,
.button-pink:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #FBCEBD;
}

.tab-panel h4,
.tab-panel p,
.tab-panel img {
    opacity: 0;
    transition: all 200ms linear;
}

.js-appear h4,
.js-appear p,
.js-appear img {
    opacity: 1;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.top-scroll{
    text-align: center;
    padding-bottom: 5em;
}

.fatface-creative {
    height: 180px;
    width: 180px;
    position: absolute;
    background-image: url(../images/fatface.svg);
    z-index: 3;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
}

.treats {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    -webkit-animation: orbit 10s infinite linear;
    animation: orbit 10s infinite linear;
    z-index: 2;
    
    width: 300px;
    height: 300px;
}

.cake {
    position: absolute;
    top: 0;
    left: calc(50% - 2em);
    height: 4em;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}
    
.popsicle {
    position: absolute;
    height: 4em;
    right: 5%;
    top: 15%;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}

.candy {
    position: absolute; 
    height: 4em;
    right: 5%;
    bottom: 15%;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}

.donut {
    position: absolute;
    bottom: 0;
    left: calc(50% - 2em);
    height: 4em;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}
    
.icecream {
    height: 4em;
    position: absolute;
    left: 5%;
    bottom: 15%;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}
    
.lollipop {
    height: 4em;
    position: absolute;
    left: 5%;
    top: 15%;
    -webkit-animation: orbit 10s infinite linear reverse;
    animation: orbit 10s infinite linear reverse;
}



@-webkit-keyframes orbit {
    
    0% {
        -webkit-transform: rotate(0deg) ;
    }
    
    100% {
        -webkit-transform: rotate(360deg);
    }

}

@keyframes orbit {
    
    0% {
        transform: rotate(0deg) ;
    }
    
    100% {
        transform:rotate(360deg);
    }

}

.tear-right {
    position: absolute;
    height: 2em;
    top: 3.8em;
    right: 10%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease;
}

.fatface-creative:hover .tear-right {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
}

.sprinkles {
    background-color: #8ECEA4;
    background-image: url(../images/sprinkles.svg);
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: 100px 100px;
    -webkit-animation: scale-sprinkles 3s ease-in-out infinite alternate;
    animation: scale-sprinkles 3s ease-in-out infinite alternate;
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
}

.button-pink {
    width: 10em;
    top: -1.5em;
    height: 3em;
    left: calc(50% - 5em);
    position: absolute;
    font-size: 1.25em;
}

@-webkit-keyframes scale-sprinkles {
    
    0% {
         -webkit-transform: scale(1,1);
    }
    
    100% {
         -webkit-transform: scale(1.05,1.05);
    }
            
}

@keyframes scale-sprinkles {
    
    0% {
         transform: scale(1,1);
    }
    
    100% {
         transform: scale(1.05,1.05);
    }
            
}

.panel {
    display: none;
}

.js-panel-open {
    display: block;
}

.ham-btn {
    height: 1.5rem;
    width: 2.5rem;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    top: 1rem;
    left: 5%;
    background: transparent url("../images/hamburger.svg") no-repeat center center;
    z-index: 100;
    padding: 0;
    margin: 20px;
    border: 0;
    outline-color: #F27581;
}

nav {
 padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    border-top: 2px solid #8ECEA4;
}

nav li {
    background-color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #F27581;
    width: 100%;
    padding: 25px;
}

.tab-img {
    width: 100%;
}

.window-img {
    width: 100%;
}

.tab {
    list-style: none;
    padding: 0;
}

.pad-0 {
    padding: 0;
}

.abouttext {
    text-align: center;
    color: #F27581;
}

.portfoliotext {
    text-align: center;
    color: white;
}

.portfolio {
    background-color: #8ECEA4;
}

.music {
    background: transparent url("../images/blue-circle.svg") no-repeat center top; 
    position: relative;
}

.leftnote {
    position: absolute;
    width: 10%;
    top: 50%;
    left: 10%;
    opacity: 0;
    transition: all .5s .25s linear;
}

.js-leftnote-appear {
    opacity: 1;
}

.rightnote {
    position: absolute;
    width: 12%;
    top: 8%;
    left: 20%;
    opacity: 0;
    transition: all .5s .1s linear;
}

.js-rightnote-appear {
    opacity: 1;
}

.doublenote {
    position: absolute;
    width: 20%;
    top: 18%;
    right: 10%;
    opacity: 0;
    transition: all .5s linear;
}

.js-doublenote-appear {
    opacity: 1;
}

.music,
.drawing,
.reading {
    max-width: 250px;
    margin: 0 auto;
}

.drawing {
    background: transparent url("../images/yellow-circle.svg") no-repeat center top;
    position: relative;
}

.pencil {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s linear;
}

.js-pencil-move {
    left: 15%;
}

.reading {
    background: transparent url("../images/purple-circle.svg") no-repeat center top; 
    position: relative;
}

.bookclosed {
    width: 100%;
    opacity: 1;
}

.js-bookclosed-appear {
    opacity: 0;
}

.bookopen {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.js-bookopen-appear {
    opacity: 1;
}
    


